body {
    background: linear-gradient(270deg, #7d0a0a, #bf3131, #ead196, #f3edc8);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    display:block;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-style: italic;
    font-family:avenir-lt-w01_85-heavy1475544,sans-serif;
    letter-spacing: 0.lem;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
.name{
    text-align: center;
}
.container{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.navbar {
    overflow: hidden;
    background-color: none;
    position:static;
    margin-left:50px;
}  
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    color: greenyellow;
    text-transform: lowercase;
}
.home a{
    text-decoration: none;
    float: right;
    margin-right: 50px;
    color: black;
}
.home a:hover
{
    color: greenyellow;
    text-transform: lowercase;
}

